// clrs.cc
NAVY = #001f3f
BLUE = #0074d9
AQUA = #7fdbff
TEAL = #39cccc
OLIVE = #3d9970
GREEN = #2ecc40
LIME = #01ff70
YELLOW = #ffdc00
ORANGE = #ff851b
RED = #FF4136
MAROON = #85144b
FUCHSIA = #f012be
PURPLE = #b10dc9
WHITE = #fff
SILVER = #ddd
BLACK = #111

// my colors
MYAQUA = #3da8e3
GRAY_LIGHTER = #EEE
GRAY_LIGHT = #CCC
GRAY = #AAA
GRAY_DARK = #888
GRAY_DARKER = #666
GRAY_DARKEST = #333

// bootflat colors
BLUEJEANSDARK=              #4a89dc
BLUEJEANSLIGHT=             #5d9cec
AQUADARK=                   #3bafda
AQUALIGHT=                  #4fc1e9
MINTDARK=                   #37bc9b
MINTLIGHT=                  #48cfad
GRASSDARK=                  #8cc152
GRASSLIGHT=                 #a0d468
SUNFLOWERDARK=              #f6bb42
SUNFLOWERLIGHT=             #ffce54
BITTERSWEETDARK=            #e9573f
BITTERSWEETLIGHT=           #fc6e51
GRAPEFRUITDARK=             #da4453
GRAPEFRUITLIGHT=            #ed5565
LAVENDERDARK=               #967adc
LAVENDERLIGHT=              #ac92ec
PINKROSEDARK=               #d770ad
PINKROSELIGHT=              #ec87c0
LIGHTGRAYDARK=              #e6e9ed
LIGHTGRAYLIGHT=             #f5f7fa
MEDIUMGRAYDARK=             #aab2bd
MEDIUMGRAYLIGHT=            #ccd1d9
DARKGRAYDARK=               #434a54
DARKGRAYLIGHT=              #656d78
