.hero
  .footer
    position absolute
    bottom 0
    width 100%
    height 60px
    a
      color white
      &:hover
        color #d3efff
        text-decoration none
main
  .footer
    position absolute
    bottom 0
    width 100%
    height 60px
    a
      color #111
      &:hover
        color #333
        text-decoration none
