footer
  text-align center
  .socialbuttons
    max-width 320px
    margin 10px auto
    .like-footer
      float left
      width 150px !important
    .tweet-footer
      float left
      width 100px !important
    .plusone-footer
      float right
      text-align right
      overflow hidden
      width 70px !important
