.hero
  padding-bottom 80px
  padding-top 25px
  background-color MYAQUA
  font-beaut()
  color white
  h1,h2
    font-weight 300
    .strong
      font-weight 700
.featurette
  font-beaut()
  text-align center
  padding 75px 0
  .i-landing
    font-size 130px
    color GRAY_DARK

.gandi-lock
  width 100px
  height 49px
  margin 10px auto
