.hero
  padding-bottom 80px
  padding-top 25px
  background-color #3da8e3
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif 
  color white
  h1,h2
    font-weight 300
    .strong
      font-weight 700
.featurette
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif 
  text-align center
  padding 75px 0
  .i-landing
    font-size 130px
    color #999

.gandi-lock
  width 100px
  height 49px
