@import 'nib'

body
  background-color #eee
  color #111111
  .wrap
    section
      padding-top 35px

@import 'addRib'
@import 'footer'
@import 'home'
@import 'landing'
@import 'navbar'
@import 'search'
@import 'user'
