@import 'nib'

html
  position relative
  min-height 100%

body
  background-color #eee
  color #111111
  main
    padding-top 20px

@import 'navbar'
@import 'search'
@import 'hero'
@import 'user'
@import 'addRib'
@import 'footer'
