.navbar.navbar-default
  margin-bottom 0
  background-color MYAQUA
  border none

.navbar-default .navbar-header .navbar-brand
  font-beaut()
  color WHITE

.navbar-nav
  .navbar-picture
    margin -15px 15px -15px 0

.navbar-default
  .nav
    li
      a
        {LINK}
          color WHITE

.navbar-default
  .nav
    li.dropdown.open
      .dropdown-toggle
        background-color AQUADARK
        color WHITE
      .dropdown-menu
        background-color AQUADARK
        color WHITE
