.navbar.navbar-default
  margin-bottom 0

.navbar-default .navbar-header .navbar-brand 
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif 

.navbar-nav
  .profile-image
    width 30px
    height 30px
    margin -15px 15px -15px 0

