.search-only .selectize-control.form-control
  width 400px
  border-radius 0
  padding 0
  background-color white
  .selectize-input
    border-radius 0
    border none
    box-shadow none
    padding-left 40px
    cursor default
    min-height 10px
  .selectize-dropdown
    border-radius 0
    border none
    height auto
    margin 0
  .selectize-dropdown-content
    margin-left -40px
    .selectize-dropdown-img
      width 30px
      height 30px
