.navbar-form
  width 100%
  margin-left 0
  margin-right 0
  padding 0
  border none
  @media (min-width: 769px)
    width 40%
    position relative
    padding-left 10px
    padding-right 10px
    &:after
      position absolute
      top 2px
      left 17px
      width 30px
      line-height 30px
      text-align center
      font-family "FontAwesome"
      font-size 18px
      color MYAQUA
      content "\f002"
      z-index 20

.selectize-control.form-control
  width 100%
  border-radius 0
  padding 0
  background-color WHITE
  .selectize-input
    border-radius 0
    border none
    box-shadow none
    padding-left 40px
    padding-right 12px
    padding-top 8px
    padding-bottom 3px
    cursor default
    min-height 10px
  .selectize-dropdown
    border-radius 0
    border none
    height auto
    margin 0
  .selectize-dropdown-content
    .selectize-dropdown-img
      width 30px
      height 30px
