.hidden-xs.hidden-sm
  .fb-like.like-footer( data-layout='button', data-action='like', data-show-faces='false', data-share='true', data-href='https://balancetonrib.com')
  a.twitter-share-button.tweet-footer(href='https://twitter.com/share', data-lang='en', data-url='https://balancetonrib.com') Tweet
  .g-plusone.plusone-footer(data-size='tall', data-annotation='none', data-href='https://balancetonrib.com')
