include ../includes/mixins

doctype html
html(lang='fr')

  head

    meta(charset='utf-8')

    if (locals.title)
      - pageTitle = title + ' | Balance ton RIB'
    else
      - pageTitle = 'Balance ton RIB'
    title= pageTitle

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property='fb:app_id', content='843337402346275')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://balancetonrib.com')
    meta(property='og:title', content='Balance Ton RIB')
    meta(property='og:image', content='')
    meta(property='og:description', content='Arrêtez d\'échanger sans cesse des RIBs par email !  Inscrivez-vous en 10 secondes, et accédez facilement aux RIBs de vos amis.')
    meta(property='description', content='Arrêtez d\'échanger sans cesse des RIBs par email !  Inscrivez-vous en 10 secondes, et accédez facilement aux RIBs de vos amis.')
    meta(property='keywords', content='rib, iban, banque, partage, virement, ami, facebook')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/bootflat/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/bootflat/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootflat/css/bootflat.css')
    link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet',
    href='/selectize/dist/css/selectize.bootstrap3.css')
    link(rel='stylesheet', href='/main.css')
    link(rel='canonical', href='https://balancetonrib.com')

  body

    block body

    script(src='/bundle.js')
