include ../includes/mixins

doctype html
html(lang='fr')

  head

    meta(charset='utf-8')

    if (locals.title)
      - pageTitle = title + ' | Balance ton RIB'
    else
      - pageTitle = 'Balance ton RIB'
    title= pageTitle

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/bootflat/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/bootflat/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootflat/css/bootflat.css')
    link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet',
    href='/selectize/dist/css/selectize.bootstrap3.css')
    link(rel='stylesheet', href='/main.css')

  body

    block body

    script(src='/bundle.js')
