include ../includes/mixins

doctype html
html(lang='fr')

  head

    meta(charset='utf-8')

    if (locals.title)
      - pageTitle = title + ' | Balance ton RIB'
    else
      - pageTitle = 'Balance ton RIB'
    title= pageTitle

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1')

    link(rel='shortcut icon', href='/favicon.ico')

    meta(property='fb:app_id', content='843337402346275')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Balance Ton RIB')
    meta(property='og:url', content='https://balancetonrib.com')
    meta(property='og:title', content='Balance Ton RIB')
    meta(property='og:image', content='')
    meta(property='og:locale', content='fr_FR')
    meta(property='og:description', content='Arrêtez d\'échanger sans cesse des RIBs par email !  Inscrivez-vous en 10 secondes, et accédez facilement aux RIBs de vos amis.')

    meta(property='description', content='Arrêtez d\'échanger sans cesse des RIBs par email !  Inscrivez-vous en 10 secondes, et accédez facilement aux RIBs de vos amis.')
    meta(property='keywords', content='rib, iban, banque, partage, virement, ami, facebook')

    link(rel='apple-touch-icon', sizes='72x72', href='/ios/Icon-72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/ios/Icon-72@2X.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/ios/Icon.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/ios/Icon@2X.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/ios/Icon-76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/ios/Icon-60@2X.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/ios/Icon-76@2X.png')
    link(rel='apple-touch-icon', sizes='196x196', href='/android/android-196.png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Balance Ton RIB')
    meta(name='format-detection', content='telephone=no')
    link(href='/ios/Default-Portrait@2X.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='/ios/Default-Landscape@2X.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='/ios/Default-Portrait.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
    link(href='/ios/Default-Landscape.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
    link(href='/ios/Default-568h@2X.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='/ios/Default@2X.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='/ios/Default.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
    

    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/bootflat/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/bootflat/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootflat/css/bootflat.css')
    link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet',
    href='/selectize/dist/css/selectize.bootstrap3.css')
    link(rel='stylesheet', href='/main.css')

    link(rel='canonical', href='https://balancetonrib.com')

  body

    block body

    script(src='/bundle.js')
