doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    - if (locals.title)
      - pageTitle = title + ' | Balance ton RIB'
    - else
      - pageTitle = 'Balance ton RIB'
    title= pageTitle
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='selectize/dist/css/selectize.css')
  body
    include header

    #flash
      if (locals.errors.length)
        .error
          each msg in errors
            div= msg

    block content
