doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title= '| Balance ton RIB'
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include header
    block body
