extends layouts/main


block content
  h1 CGU
  p.
    En utilisant nos Services, vous nous fournissez vos ribs,  e-mails, contacts, etc. (ci-après "vos Données"). Vos Données vous appartiennent. À l'exception de droits limités nous permettant d'offrir les Services, les présentes Conditions ne nous accordent aucun droit sur vos Données.

    Nous avons besoin de votre autorisation pour réaliser certaines opérations telles que l'hébergement, la sauvegarde et le partage de vos données, à votre demande. Nos Services vous fournissent également des fonctionnalités, telles que les vignettes photo ou les aperçus de documents, ainsi que des outils d'organisation des e-mails et des fonctions simples de tri, de modification, de partage et de recherche. Nos systèmes peuvent devoir accéder à vos Données, les stocker et les analyser pour que ces fonctionnalités, entre autres, soient mises à votre disposition. Vous nous accordez l'autorisation de réaliser ces opérations, celle-ci s'appliquant aussi aux tiers de confiance avec lesquels nous collaborons.
