extends layouts/main


block content
  h1 CGU
  p.
    Vos données sont à vous. Vous pouvez les supprimer ou les modifier
    quand vous voulez. Elles ne seront pas revendues à des fins
    publicitaires.
  p.
    Balancetonrib et son propriétaire ne peuvent pas être tenus
    responsables de tout problème qui découlerait de
    l'utilisation du service.
