extends layouts/main

block content
  .wrap
    section
      .container
        p Une erreur s'est produite et je suis désolé. Envoyez moi un <a href="mailto:stan@balancetonrib.com">email</a> pour m'insulter.
