h1 Balance ton RIB gros!
if (!user)
  a(href='/login/facebook') Se connecter avec Facebook
else
  h2 logged in as #{user.profile.name}
  img(src='#{user.profile.picture}')
  p Choose a friend
  select#friends
    each friend in friends
      option #{friend.name}
