extends layouts/main

block content
  .wrap

    section
      .container
        if (rib)
          h2 Votre RIB
          .rib
            include includes/rib
        else
          h2 Vous n'avez pas encore ajouté votre RIB
          div
            a.btn.btn-primary(href='/ribs/add') Ajouter un RIB

    section
      .container
        h2 Certains de vos amis qui ont renseigné leur RIB
        .friendsWithRib
          if (friendsWithRib && friendsWithRib.length > 0)
            each friend in friendsWithRib
              div
                img(src='#{friend.profile.picture}',alt='#{friend.profile.name}')
                a(href='/u/#{friend.facebook}')= friend.profile.name
