extends layouts/main

block content
  .wrap

    section
      .container
        .row
          .col-sm-8
            if (rib)
              h2 Votre RIB
              .rib
                include includes/rib
            else
              h2 Vous n'avez pas encore ajouté votre RIB
              div
                a.btn.btn-primary(href='/ribs/add') Ajouter un RIB

          .col-sm-4
            h3 Quelques RIBs déjà renseignés
            .friendsWithRib
              if (friendsWithRib && friendsWithRib.length > 0)
                each friend in friendsWithRib
                  div
                    +picture(friend.facebook, 50, 50)(class='list-picture', alt=friend.profile.name)
                    a.list-name(href='/u/#{friend.facebook}')= friend.profile.name
