extends layouts/landing

block content
  h1.
    <span class="strong">Arrêtez</span> d'échanger <span class="strong">sans cesse</span> des <span class="strong">RIBs</span> par email !
  h2. 
    Inscrivez-vous <span class="strong">en 10 secondes</span>, 
    et <span class="strong">accédez</span> facilement aux RIBs de vos amis.

  br
  form(action='/login/facebook')
    button.btn.btn-lg.btn-social.btn-facebook.navbar-btn
      i.fa.fa-facebook
      | Login avec Facebook
  p: small En vous connectant vous acceptez les CGU.
  a(href='https://www.gandi.net/ssl/secured/balancetonrib.com/52810/6be402b7aa',
  target='_blank')
    img(src='/GANDI_SSL2.png', alt='Sécurisé par Gandi SSL')
